/* Font */
.font-luckiest {
    font-family: 'Luckiest Guy', cursive;
}
.font-main {
    font-family: 'Poppins', sans-serif;
}

/* Reset & Body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFCF0;
    overscroll-behavior: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #E5CBB7;
}

.header-container img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.header-text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.header-text p {
    margin-bottom: 0;
    line-height: 1.2;
}

/* Footer */
footer {
    background-color: #E5CBB7;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-container p {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.footer-container h5 {
    margin-bottom: 6px;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-contact a {
    color: #000;
    transition: color 0.3s ease;
}
.footer-contact a:hover {
    color: #2563eb;
}
